<a href="https://colab.research.google.com/github/FreeMagic200/python_crash_course/blob/main/ch_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 4-1. Pizzas

*   Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.
*   Modify your for loop to print a sentence using the name of the pizza instead of printing just the name of the pizza. For each pizza you should have one line of output containing a simple statement like "I like pepperoni pizza."
*   Add a line at the end of your program, outside the for loop, that states how much you like pizza. The output should consist of three or more lines about the kinds of pizza you like and then an additional sentence, such as "I really love pizza!"

In [ ]:
pizzas = ["margherita", "pepperoni", "hawaiian"]

for pizza in pizzas:
    print(f"I like {pizza} pizza.")

print("I really love pizza!")

I like margherita pizza.
I like pepperoni pizza.
I like hawaiian pizza.
I really love pizza!

## 4-3. Counting to Twenty

Use a for loop to print the numbers from 1 to 20, inclusive.

In [ ]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 4-4. One Million

*   Make a list of the numbers from one to one million, and then use a for loop to print the numbers. (If the output is taking too long, stop it by pressing ctrl-C or by closing the output window.)

In [ ]:
num_list = []
for i in range(1,1000001):
  num_list.append(i)

In [ ]:
len(num_list)

1000000

In [ ]:
for i in num_list[-1:]:
  print(i)

1000000

## 4-5. Summing a Million

* Make a list of the numbers from one to one million, and then use `min()` and `max()` to make sure your list actually starts at one and ends at one million. Also, use the `sum()` function to see how quickly Python can add a million numbers.

In [ ]:
print(str(min(num_list)) + '\n')
print(max(num_list))

1

1000000

In [ ]:
sum(num_list)

500000500000

## 4-6. Odd Numbers

* Use the third argument of the `range()` function to make a list of the odd numbers from 1 to 20. Use a for loop to print each number.

In [ ]:
odd_num = []
for i in range(1,21,2):
  odd_num.append(i)
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 4-7. Threes

* Make a list of the multiples of 3 from 3 to 30. Use a for loop to print the numbers in your list.

In [ ]:
multi_3 = []
for i in range(3,31,3):
  multi_3.append(i)
print(multi_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

## 4-8. Cubes

* A number raised to the third power is called a cube. For example, the cube of 2 is written as `2**3` in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [ ]:
cubes = []
for i in range(1,11):
  cubes.append(i**3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
for i in range(0,len(cubes)):
  print(cubes[i])

1
8
27
64
125
216
343
512
729
1000

## 4-9. Cube Comprehension

* Use a list comprehension to generate a list of the first 10 cubes.

In [ ]:
cubes = [number**3 for number in range(1, 11)]

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 4-10. Slices

Using one of the programs you wrote in this chapter, add several lines to the end of the program that do the following:

* Print the message, "The first three items in the list are:". Then use a slice to print the first three items from that program's list.
* Print the message, "Three items from the middle of the list are:". Use a slice to print three items from the middle of the list.
* Print the message, "The last three items in the list are:". Use a slice to print the last three items in the list.

In [ ]:
cubes = []
for i in range(1,11):
  cubes.append(i**3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
print(cubes[0:3]) # "including start but excluding end"

[1, 8, 27]

In [ ]:
print(str(cubes[5:8]))

[216, 343, 512]

In [ ]:
print(str(cubes[-3:]))

[512, 729, 1000]

## 4-11. My Pizzas, Your Pizzas

*   Start with your program from Exercise 4-1 (page 60).
*   Make a copy of the list of pizzas, and call it `friend_pizzas`.
*   Then, do the following:

    *   Add a new pizza to the original list.
    *   Add a different pizza to the list `friend_pizzas`.
    *   Prove that you have two separate lists. Print the message, "My favorite pizzas are:", and then use a for loop to print the first list. Print the message, "My friend's favorite pizzas are:", and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [49]:
pizzas = ["margherita", "pepperoni", "hawaiian"]

for pizza in pizzas:
    print(f"I like {pizza} pizza.")

print("I really love pizza!")

I like margherita pizza.
I like pepperoni pizza.
I like hawaiian pizza.
I really love pizza!

In [ ]:
friend_pizzas = pizzas
print(friend_pizzas)

['margherita', 'pepperoni', 'hawaiian']

In [ ]:
pizzas.append("durian")

In [ ]:
friend_pizzas.append("four cheese")

In [ ]:
print("My favorite pizzas are:\n")
for pizza in pizzas:
  print(pizza)

My favorite pizzas are:

margherita
pepperoni
hawaiian
durian
four cheese

In [ ]:
print("My friends' favorite pizzas are:\n")
for pizza in friend_pizzas:
  print(pizza)

My friends' favorite pizzas are:

margherita
pepperoni
hawaiian
durian
four cheese

Always use list.copy() or list() when you intend to create an independent copy of a list in Python. Avoid simple assignment (=) as it only creates another reference to the same list.

In [50]:
pizzas = ["margherita", "pepperoni", "hawaiian"]

for pizza in pizzas:
    print(f"I like {pizza} pizza.")

print("I really love pizza!")

I like margherita pizza.
I like pepperoni pizza.
I like hawaiian pizza.
I really love pizza!

In [51]:
friend_pizzas = pizzas.copy()
print(friend_pizzas)

['margherita', 'pepperoni', 'hawaiian']

In [52]:
pizzas.append("durian")
friend_pizzas.append("four cheese")

In [53]:
print("My favorite pizzas are:\n")
for pizza in pizzas:
  print(pizza)

My favorite pizzas are:

margherita
pepperoni
hawaiian
durian

In [54]:
print("My friends' favorite pizzas are:\n")
for pizza in friend_pizzas:
  print(pizza)

My friends' favorite pizzas are:

margherita
pepperoni
hawaiian
four cheese

## 4-13. Buffet

* A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple.
* Use a for loop to print each food the restaurant offers.
* Try to modify one of the items, and make sure that Python rejects the change.
* The restaurant changes its menu, replacing two of the items with different foods. Add a block of code that rewrites the tuple, and then use a for loop to print each of the items on the revised menu.

In [55]:
buffet_foods = ("fried chicken", "mashed potatoes", "green beans", "mac and cheese", "cornbread")

In [57]:
for food in buffet_foods:
  print(food)

fried chicken
mashed potatoes
green beans
mac and cheese
cornbread

In [60]:
buffet_foods[-1] = 'beef'

TypeError: 'tuple' object does not support item assignment

In [61]:
buffet_foods = ("fried chicken", "mashed potatoes", "green beans", "cake", "beef")

In [64]:
for food in buffet_foods:
  print(food)

fried chicken
mashed potatoes
green beans
cake
beef